body{
  background-image: url("Img/fondo.jpg");
  backdrop-filter: blur(3px);
  margin: 20px;
}

h1 {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f2f2f2;
  border-radius: 10px;
  font-size: 2em; 
  border-color: black;
  border-width: 10px;
  font-weight: bold; 
}

.container {
  width: 70%; 
  margin: 20px; 
  position: relative;
  margin: 0 auto; 
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px; 
  background-color: #f4f4f4; 
  justify-content: center;
  align-items: center;
  display: flex;
}


.container ol {
    padding-left: 20px; 
    margin-top: 10px; 
}


.container ol li {
    font-size: 16px; 
    line-height: 1.5; 
}


.container ol li:first-child {
    font-weight: bold; 
}


.container ol li:nth-child(odd) {
    color: blue; 
}


.container ol li:nth-child(even) {
    color: red; 
}

.container > ul {
    list-style-type: circle; 
    padding-left: 20px; 
}


.container > ul > li {
  font-size: 16px; 
  line-height: 1.5; 
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f2f2f2;
}


.container > ul > li:first-child {
    font-weight: bold; 
}


.container > ul > li + li {
    margin-top: 20px; 
}


h2 {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f2f2f2;
  border-radius: 10px;
}

h3 {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 10px;
}

form {
	width: 50%;
	margin: 0 auto;
}

a:link{
	color:blue;
}

a:visited{
	color:red;
}

a:hover{
	color:green;
	animation: respirar 1s infinite alternate;
}

p {
  text-align: justify;
  font-size: 1em; 
  font-family: 'Arial', sans-serif;
  font-weight: bold; 
  margin: 10px;
  margin-left: 150px;
  border-radius: 10px;
  margin-right: 150px;
  padding: 10px;
  background-color: #f2f2f2;
}

ol {
  text-align: center;
  font-size: 1.25em; 
  font-family: 'Arial', sans-serif;
  font-weight: bold; 
  margin: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #f2f2f2;
}

video {
    width: 80%;
    height: auto;
	justify-content: center;
    align-items: center;
}



dt {
  text-align: center;
  font-size: 1.25em; 
  font-family: 'Arial', sans-serif;
  font-weight: bold; 
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  background-color: rgb(197, 197, 197);
}

dl {
  text-align: justify;
  font-size: 1.25em; 
  font-family: 'Arial', sans-serif;
  font-weight: bold; 
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f2f2f2;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
}

table {
  border-collapse: separate; 
  border-spacing: 5px; 
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


tfoot td {
  background-color: #e6e6e6;
  font-style: italic;
}


figure {
  margin: 0;
  text-align: center;
}

figcaption {
  margin-top: 5px;
  font-size: 1.2em; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold; 
  border-radius: 10px;
  color: gold; 
  background-color: rgb(0, 0, 0);
}

img{
  padding: 10px;
  background-color: rgb(0, 0, 0);

  border-radius: 10px;
}


col.Usuario,
col.Stand {
}

@keyframes respirar {
	0% {
    transform: scale(1); /* Tamaño normal */
	}
    100% {
    transform: scale(1.2); /* Tamaño aumentado */
}